/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-width: 700px;
  margin: 0 auto;
  color: var(--font-color);
  font-size: 18px;
  background-image: var(--bg-image);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--wght-main);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: "Inter", sans-serif;
  }
}

/* Прописывается margin для элементов от 769 px */

.header {
  margin: 100px 0;
  border: 2px solid var(--font-color);
}

.header__container {
  display: flex;
  flex-direction: column;
  padding-top: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  padding-bottom: 25px;
  background-color: var(--background-color);
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
  font-family: "PressStart2P", fantasy;
  text-transform: uppercase;
}

.header__title-void-link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title-void-link::before {
  content: "</";
}

.header__title-void-link::after {
  content: ">";
}

.header__title-text {
  font-size: clamp(0.75rem, 0.498rem + 1.073vw, 1.438rem);
}

.theme-menu {
  margin: 0 auto;
}

.theme-menu__list {
  gap: 14px;
}

.theme-menu__item {
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  line-height: 100%;
}

.theme-menu__item:not(:nth-last-child(1)) {
  margin-bottom: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  opacity: 1;
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--font-color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.main__title-container {
}

.main__title {
  border: 2px solid var(--font-color);
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: "wght" var(--wght-title);
}

.image-container {
}

.main__image {
  display: block;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--font-color);
  border-right: 2px solid var(--font-color);
  border-bottom: 2px solid var(--font-color);
  border-left: 2px solid var(--font-color);
  object-fit: cover;
  aspect-ratio: 1/1;
}

.image-contrast {
  filter: contrast(70%);
}

.image-blur {
  filter: blur(0.2rem);
}

.image-opacity {
  filter: opacity(0.8);
}

.image-sepia {
  filter: sepia(15%) contrast(80%);
}

.image-saturate-138 {
  filter: saturate(138%);
}

.image-saturate-108 {
  filter: saturate(108%);
}

.image-grayscale {
  filter: grayscale(0.6);
}

.image-sepia {
  filter: sepia(60%);
}

.main__text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid var(--font-color);
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.main__text-container .main__text:nth-child(2) {
  margin-top: 2px;
}

.button__container {
  display: flex;
  align-self: self-end;
}

.card__icon-button {
  justify-self: center;
  align-self: center;
  margin-right: 12px;
  border: none;
  padding: 0;
  outline: 2px solid var(--background-color);
  background-color: transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline-color: var(--font-color);
}

.card__like-button {
  width: 130px;
  border: none;
  padding: 12.5px 0;
  outline: solid var(--font-color);
  background-color: var(--background-color);
}

.card__like-button:focus-visible {
  outline: solid var(--font-color);
}

.section__dialog {
  width: clamp(19.125rem, 17.471rem + 7.056vw, 20.938rem);
  margin-bottom: clamp(6.25rem, 6.184rem + 0.282vw, 6.438rem);
  margin-inline: auto;
}

.section__dialog__button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 335px;
  border: 2px solid var(--font-color);
  padding: 15px;
  @media (width <= 375px) {
    flex-direction: column;
    align-items: center;
    width: 306px;
  }
}

.section__dialog__save {
  display: block;
  align-self: center;
}

.dialog {
  width: 353px;
  border: 2px solid var(--font-color);
  padding: 0;
  color: var(--font-color);
  background-color: var(--background-color);
  @media (width <= 375px) {
    width: 341px;
  }
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px;
  @media (width < 769px) {
    margin: 30px 40px;
  }
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: black;
}

.dialog__title {
  display: flex;
  gap: 20px;
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.dialog__span {
  display: block;
}

.dialog__svg {
  flex-shrink: 0;
  width: 39px;
}

.dialog__button {
  width: 100%;
  border: 2px solid var(--font-color);
  padding: 12.5px 0;
  color: var(--font-color);
}

.floppy {
  position: relative;
  z-index: 1;
  display: block;
  width: 21px;
  @media (width < 376px) {
    width: 28px;
  }
}
