/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --wght-title: 700;
  --wght-main: 400;
  --background-color: rgb(255, 255, 255);
  --font-color: rgb(0, 0, 0);
  --bg-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
  --red-heart: #ff0000;
  --mix-blend: rgb(255, 255, 255);
}
